<h1>Welcome to the Jungle</h1>

<div class="jumbotron">
  <h4>Simple Yet Plenty!</h4>
  <h4>Jungle is the simplest & easiest online shopping platform to buy & sell!</h4>
  <h4>Come into our Jungle and enjoy with us!</h4>
</div>